@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}
#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
nav {
    position: fixed;
    top: 0;
    margin-left: 41%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 30px 30px;
    z-index: 1010;
}
.navbar {
    max-width: 580px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 160px;
}
.nav__item a {
    color: #050215;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.nav__item .active {
    color: #b4977b;
}
.nav__item a:hover,
.nav__item a:focus {
    color: #b4977b;
}

.cart {
    cursor: pointer;
    margin-left: 30px;
}
/* Aside start */
aside {
    width: 15%;
    height: 100vh;
    border-right: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_contianer {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
}
.logo {
    color: #050215;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: fixed;
    top: 35px;
}

.next img {
    cursor: pointer;
}
.controller {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    flex-direction: column;
}
#scroll {
    width: 4px;
    height: 30px;
    background-color: #e5e5e5;
}
.dot {
    width: 4px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s ease-in-out all;
}
.current {
    color: #b4977b;
    font-size: 54px;
    font-weight: 500;
}

.total {
    color: #e4d6c9;
    font-size: 54px;
    font-weight: 500;
}
/* Aside end */

/* Main start */
.main__container {
    overflow: hidden;
    width: 90%;
    height: 100vh;
}
.inner {
    display: flex;
    flex-direction: column;
    transition: 0.8s ease-in-out all;
}
.slide {
    width: 80%;
    height: 100vh;
    padding: 0 150px;
}
.slide__contianer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 105px;
}
.img__cont .image-box {
    width: 417px;
    height: 80vh;
    background-image: url("../images/barber.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/* Social link */
.social-link {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0;
}
.social-link a {
    color: #050215;
    font-size: 14px;
    font-weight: 500;
}
.social-link a:hover,
.social-link a:focus {
    color: #b4977b;
}
.info {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.title {
    color: #050215;
    font-size: 64px;
    font-weight: 600;
}
.description {
    color: rgba(5, 2, 21, 0.75);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* button */
.btn {
    display: inline;
    padding: 15px 20px;
    border-radius: 50px;
    background: #b4977b;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover,
.btn:focus {
    background: #fff;
    color: #b4977b;
    border: 1px solid #b4977b;
}
/* Number */
.number__indc {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: "Barlow", sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 0 #b4977b, -2px 0 #b4977b, 0 2px #b4977b, 0 -2px #b4977b,
        1px 1px #b4977b, -1px -1px #b4977b, 1px -1px #b4977b, -1px 1px #b4977b;
}
/* Main end */

/* Hamburger */
.hamburger {
    position: fixed;
    top: 35px;
    right: 35px;
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
@media only screen and (max-width: 1110px) {
    /* Aside start */
    aside {
        width: 10%;
    }
    .aside_contianer {
        width: 100%;
        height: 60%;
        margin-top: 80px;
    }
    .logo {
        font-size: 24px;
    }
    #scroll {
        width: 3px;
    }
    .dot {
        width: 3px;
    }
    .current {
        font-size: 45px;
    }
    .total {
        font-size: 45px;
    }
    .next img {
        width: 40px;
    }
    /* Aside end */

    /* Main start */
    .slide {
        width: 90%;
        padding: 0 50px;
    }
    .slide__contianer {
        gap: 50px;
    }
    .img__cont .image-box {
        width: 330px;
        height: 75vh;
    }
    /* Social link */
    .social-link {
        margin: 50px 25px 0;
    }
    .social-link a {
        font-size: 12px;
    }
    /* info */
    .title {
        font-size: 45px;
    }
    .description {
        font-size: 16px;
        line-height: 27px;
    }
    /* button */
    .btn {
        padding: 10px 15px;
        font-size: 16px;
    }
    /* Number */
    .number__indc {
        bottom: -30px;
        font-size: 150px;
    }
    /* Hamburger */
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #b4977b;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav__item {
        margin: 16px 0;
    }
    .navbar.active {
        left: 0;
    }
    /* Navbar */
    nav {
        top: 0;
        margin-left: 0;
        padding: 0;
    }
    .navbar {
        max-width: 100%;
        height: 100vh;
        gap: 0;
        margin-right: 0;
    }
    .nav__item a {
        font-size: 24px;
        font-weight: 500;
    }
    .nav__item .active {
        color: #fff;
        display: block;
        margin-top: 100px;
    }
    .nav__item a:hover,
    .nav__item a:focus {
        color: #fff;
    }
    .cart {
        margin-left: 0px;
    }
}
/* Media 750px  */
@media only screen and (max-width: 750px) {
    /* Aside start */
    aside {
        width: 15%;
    }
    .aside_contianer {
        height: 55%;
        margin-top: 130px;
    }
    .logo {
        font-size: 20px;
        font-weight: 700;
    }
    .current {
        font-size: 40px;
    }
    .total {
        font-size: 40px;
    }
    .next img {
        width: 35px;
    }
    /* Aside end */

    /* Main start */
    .main__container {
        overflow: hidden;
        width: 75%;
    }
    .slide {
        width: 85%;
        padding: 0 0 0 70px;
    }
    .slide__contianer {
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    .img__cont .image-box {
        width: 430px;
        height: 40vh;
        background-position: center;
    }
    /* Social link */
    .social-link {
        display: none;
    }
    .info {
        max-width: 100%;
        flex-direction: column;
        gap: 22px;
    }
    .title {
        font-size: 37px;
    }
    .description {
        font-size: 16px;
        line-height: 25px;
    }
    /* button */
    .btn {
        padding: 10px 15px;
        font-size: 16px;
    }
    /* Number */
    .number__indc {
        bottom: -70px;
        font-size: 150px;
    }
    /* Main end */
}
/* Media 540px  */
@media only screen and (max-width: 540px) {
    /* Aside start */
    .logo {
        font-size: 18px;
    }
    .current {
        font-size: 35px;
    }
    .total {
        font-size: 35px;
    }
    .next img {
        width: 35px;
    }
    /* Aside end */

    /* Main start */
    .main__container {
        overflow: hidden;
        width: 80%;
    }
    .slide {
        padding: 0 0 0 40px;
    }
    .img__cont .image-box {
        width: 400px;
    }
    /* Number */
    .number__indc {
        bottom: -60px;
        right: 20px;
        font-size: 120px;
    }
    /* Main end */

    /* Hamburger */
    .bar {
        background-color: white;
    }
}
